{% from "/includes/list-links.html" import listLinks with context %}

<nav class="header" data-js="_language">
    <div class="js-navigation-language navigation primary-navigation d-none d-lg-block">
        <div class="container h-100">
            <ul class="navigation__list navigation__global navigation__hide no-gutter--all h-100">
                <li class="navigation__spring h-100">
                    <ul class="js-navigation navigation navigation__list navigation__global--language navigation__list__inline h-100">
                        <li class="js-navigation-item navigation__item navigation__item--right h-100">
                            <!-- START: "group/components/header/content/language" Array
                                (
                                [journey] => anonymous
                                )
                            -->
                            <div class="js-language language">
                                <a href="#" class="js-language-current language__current">
                                    <span class="visually-hidden">menu</span>
                                    <span class="js-language-chosen language__chosen">{{config.locale.current}}</span>
                                    <svg focusable="false" aria-hidden="true"
                                         class="icon  icon--small  js-location-icon-down language__icon language__icon--down">
                                        <use xlink:href="#icon-chevron-down"></use>
                                    </svg>
                                    <svg focusable="false" aria-hidden="true"
                                         class="icon  icon--small  js-location-icon-down language__icon language__icon--up">
                                        <use xlink:href="#icon-chevron-up"></use>
                                    </svg>
                                </a>
                                <ul class="js-language-options language__options">
                                    {% for language in config.locale.available %}
                                    <li class="language__item">
                                        <div onclick="changeLanguage('{{language.value}}')"
                                             class="js-language-option language__option">
                                            <span class="visually-hidden">menu item</span>
                                            <span class="language__selector">
                                                <span class="js-language-circle language__circle "></span>
                                            </span>
                                            {{language.label}}
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- END: "group/components/header/content/language" -->
                        </li>
                        <li class="h-100">
                            <div class="help">
                                <a href="https://ayudacliente.vodafone.es/particulares/temas-de-ayuda/" target="_blank">
                                    Help
                                    {{home.welcome}}
                                    <img src="{{ r('/assets/images/help-circle.png') }}" alt="Help"
                                         class="gallery__image">
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="js-navigation-static navigation-static">&#xA0;</div>
    <div class="js-navigation navigation navigation--primary component__icon-background" data-js="_navigation">
        <div class="container">
            <ul class="navigation__list navigation__hide d-flex" role="navigation">
                <li class="navigation__item">
                    <!-- START: "group/components/brand/index" Array
                        (
                        [journey] => anonymous
                        )
                    -->
                    <a href="/" class="js-brand brand">
                        <svg focusable="false" aria-hidden="true" class="icon icon--small brand__logo">
                            <use xlink:href="#icon-vodafone-logo"/>
                        </svg>
                    </a>
                    <!-- END: "group/components/brand/index" -->
                </li>
                <!-- START: "group/components/header/adaptations/list" Array
                    (
                    [journey] => anonymous
                    )
                -->
                <li class="navigation__item dropdown d-none d-lg-block">
                    <a href="#"
                       class="navigation__link navigation__link--main no-wrap {{'navigation__link--active' if config.pageId === 'listing'}}"
                       id="business-apps-dropdown"
                       role="button"
                       data-toggle="dropdown"
                    >
                        Business apps
                        <span class="visually-hidden">menu</span>
                    </a>
                    <div class="dropdown-menu w-100">
                        {% for link in listLinks %}
                        <a class="dropdown-item" href="{{link.url}}">{{ link.name }}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="js-navigation-item navigation__item d-none d-lg-block">
                    <a href="/{{config.locale.code}}/help"
                       class="navigation__link navigation__link--main no-wrap {{'navigation__link--active' if config.pageId === 'help'}}"
                    >
                        App support
                        <span class="visually-hidden">menu</span>
                    </a>
                </li>

                <!-- END: "group/components/header/adaptations/list" -->
                <li class="js-navigation-item navigation__item navigation__item--right navigation__hide ml-md-auto navigation__item--search">
                    <form class="search-container {{'open' if config.query.q}}" id="header-search-container" novalidate
                          data-base-url="{{ config.listingEndpoint }}">
                        <input class="search-input" placeholder="Find Applications" type="search" name="q"
                               value="{{config.query.q}}" data-default-value="{{config.query.q}}">
                        <div class="search-icon-container">
                            <svg focusable="false" aria-hidden="true" class="icon icon--small navigation__icon"
                                 id="search-icon">
                                <use xlink:href="#icon-search"/>
                            </svg>
                            <span class="navigation__icon-text d-none d-lg-block">Search</span>
                        </div>
                    </form>
                </li>
                <li class="js-navigation-item navigation__item navigation__item--right navigation__hide d-none d-lg-block">
                    <a href="https://testvfspain.appdirect.com/login"
                       class="js-navigation-link navigation__link navigation__link--icon">
                        <svg focusable="false" aria-hidden="true" class="icon icon--small navigation__icon"
                             id="login-icon">
                            <use xlink:href="#icon-my-vodafone"/>
                        </svg>
                        <span class="navigation__icon-text">Log In</span>
                    </a>
                </li>
                <li class="js-navigation-item navigation__item navigation__item--right navigation__hide d-none d-lg-block">
                    <a href="https://ayudacliente.vodafone.es/empresas/contacta/"
                       class="js-navigation-link navigation__link navigation__link--icon navigation__link--icon--last">
                        <svg focusable="false" aria-hidden="true" class="icon icon--small navigation__icon"
                             id="contact-us-icon-icon">
                            <use xlink:href="#icon-landline-or-call"/>
                        </svg>
                        <span class="navigation__icon-text">Contact Us</span>
                    </a>
                </li>

                <!-- START: "group/components/header/adaptations/accordion" Array
                     (
                     [journey] => anonymous
                     )
                 -->

                <li class="js-navigation-item navigation__item navigation__item--right navigation__hide js-navigation-item-clickable navigation__item--clickable d-lg-none">
                    <a href="#"
                       class="js-navigation-link navigation__link navigation__link--icon navigation__link--icon-last navigation__link--menu">
                        <span class="visually-hidden">
                            <span class="navigation__accessibility">Close</span>Menu
                        </span>
                        <svg focusable="false" aria-hidden="true"
                             class="icon icon--small navigation__icon js-navigation-toggle navigation__toggle">
                            <use xlink:href="#icon-menu"/>
                        </svg>
                        <svg focusable="false" aria-hidden="true"
                             class="icon icon--small navigation__icon js-navigation-close navigation__close">
                            <use xlink:href="#icon-close"/>
                        </svg>
                    </a>


                    <div class="js-navigation navigation navigation--tertiary">
                        <div class="js-accordion" data-js="_accordion">
                            <div class="js-accordion-item">
                                <div class="js-accordion-heading navigation__accordion--heading">
                                   <span class="chevron">
                                       <span class="chevron__text">Business Apps</span>
                                       <span class="chevron__container accordion__chevron">
                                           <svg focusable="false"
                                                aria-hidden="true"
                                                class="icon  icon--small  chevron__icon">
                                               <use xlink:href="#icon-chevron-down"/>
                                           </svg>
                                       </span>
                                   </span>
                                </div>
                                <div class="js-accordion-content navigation__accordion-content">
                                    <ul class="list list--reset navigation--tertiary-accordion-content">
                                        {% for link in listLinks %}
                                        <li class="list__item navigation--tertiary-accordion-item">
                                            <a href="{{link.url}}">{{ link.name }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <ul class="list list--reset">
                            <li class="list__item navigation--tertiary-item">
                                <a href="/en-US/help">
                                    App support
                                </a>
                            </li>
                            <li class="list__item navigation--tertiary-item navigation--tertiary-item--icon">
                                <a href="https://testvfspain.appdirect.com/login">
                                    <svg focusable="false" aria-hidden="true"
                                         class="icon icon--small navigation--tertiary__icon" id="login-icon">
                                        <use xlink:href="#icon-my-vodafone"/>
                                    </svg>
                                    <span>Log In</span>
                                </a>
                            </li>
                            <li class="list__item navigation--tertiary-item navigation--tertiary-item--icon">
                                <a href="https://ayudacliente.vodafone.es/empresas/contacta/">
                                    <svg focusable="false" aria-hidden="true"
                                         class="icon icon--small navigation--tertiary__icon" id="contact-us-icon-icon">
                                        <use xlink:href="#icon-landline-or-call"/>
                                    </svg>
                                    <span>Contact Us</span>
                                </a>
                            </li>
                        </ul>

                        <!-- START: "group/components/header/content/language" Array
                            (
                        [journey] => anonymous
                        )
                        -->
                        <div class="js-language language">
                            <div class="language-header">
                                <a href="#" class="js-language-current language__current">
                                    <span class="visually-hidden">menu</span>
                                    <span class="js-language-chosen language__chosen">{{config.locale.current}}</span>
                                    <svg focusable="false" aria-hidden="true"
                                         class="icon icon--small js-location-icon-down language__icon language__icon--down">
                                        <use xlink:href="#icon-chevron-down"/>
                                    </svg>
                                    <svg focusable="false" aria-hidden="true"
                                         class="icon icon--small js-location-icon-up language__icon language__icon--up">
                                        <use xlink:href="#icon-chevron-up"/>
                                    </svg>
                                </a>
                                <a href="https://ayudacliente.vodafone.es/particulares/temas-de-ayuda/" target="_blank"
                                   class="help">
                                    Help
                                    <img src="{{ r('/assets/images/help-circle-dark.png') }}" alt="Help"
                                         class="gallery__image">
                                </a>

                            </div>
                            <ul class="js-language-options language__options">
                                {% for language in config.locale.available %}
                                <li class="language__item">
                                    <div onclick="changeLanguage('{{language.value}}')"
                                         class="js-language-option language__option">
                                        <span class="visually-hidden">menu item</span>
                                        <span class="language__selector">
                                                <span class="js-language-circle language__circle "></span>
                                            </span>
                                        {{language.label}}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- END: "group/components/header/content/language" -->
                    </div>
                    <div class="navigation__backdrop"></div>
                </li>


                <!-- END: "group/components/header/adaptations/accordion" -->
            </ul>
        </div>
    </div>
</nav>

<script>

    function changeLanguage(language) {
        var separatedLocation = window.location.pathname.split('/');
        var location = '';
        for (var separatedLocationIndex = 2; separatedLocationIndex < separatedLocation.length; separatedLocationIndex++) {
            location = location + '/' + separatedLocation[separatedLocationIndex]
        }

        window.location = `/${language}${location}${window.location.search}`;
    }

    $('#search-trigger').on('click', function () {
        $('.js-dialog').addClass('js-dialog-display dialog--display dialog--scrollable');
    });

    $('#search-close').on('click', function () {
        $('.js-dialog').removeClass('js-dialog-display dialog--display dialog--scrollable');
    });

    $('#header-search-container .search-icon-container').on('click', function () {
        var container = $('#header-search-container.search-container');
        var input = $('#header-search-container .search-input');

        if (container.hasClass('open')) {
            container.removeClass('open');
            input.val(input.attr('data-default-value'));
        } else {
            container.addClass('open');
            container.find('.search-input').focus();
        }
    });

    $('#header-search-container').on('submit', function (e) {
        e.preventDefault();

        var input = $('#header-search-container .search-input');

        var baseUrl = $(this).attr('data-base-url');
        var value = input.val();

        if (value) {
            window.location.href = baseUrl + '?q=' + value;
        }
    });

    var itemsInBasket = JSON.parse(localStorage.getItem('basket')) || [];

    if (itemsInBasket.length < 1) {
        $('#cart-on-header').addClass('hide');
    } else {
        $('#cart-on-header').text(itemsInBasket.length);
    }
</script>
