{% extends "/layout/profile.html" %}

{% from "/macros/profile/profile-edition-list.html" import profileEditionList %}
{% from "/macros/profile/profile-edition-list-item-header.html" import profileEditionListItemHeader %}
{% from "/macros/profile/profile-edition-list-item-content.html" import profileEditionListItemContent %}

{% macro editionsPricing(editions) %}
<div class="container profile-editions">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center heading heading--3 heading--center heading--leading">
                Editions & Pricing
            </h3>
        </div>
    </div>
    <div class="row">
        {% if editions.bullets.length %}
        <div class="col-12 col-lg-3">
            <div class="profile-edition__bullets-global-bullets">
                <h4 class="heading heading--4 heading--regular mt-0 mb-0">
                    {{editions.i18n.bulletsHeader}}
                </h4>
                <div class="profile-checklist-global-bullets">
                    {% for bullet in editions.bullets %}
                    <div class="d-flex align-items-start mt-3">
                        <div class="bullet-item-img">
                            <img src="{{r('/assets/images/check-red.png')}}"/>
                        </div>
                        <div class="bullet-item pl-2 d-flex">
                            {{ bullet.content | safe }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div
                    class="js-edition-bullets-toggle-global-bullets"
                    onclick="toggleBulletList()"
            >
                <a class="toggle-show">{{ editions.i18n.showMoreDetails }}</a>
                <a class="toggle-hide">{{ editions.i18n.hideMoreDetails }}</a>
            </div>
        </div>
        {% endif %}

        {# Loop through first 3 elements #}

        {% if editions.bullets.length %}
        {% set sliceCountFirstRow = 3 %}
        {% else %}
        {% set sliceCountFirstRow = 4 %}
        {% endif %}

        {% for edition in editions.items %}

        {% if loop.index0 === 0 %}

        {% set items = [] %}

        {% for index in range(loop.index0, loop.index0 + sliceCountFirstRow) -%}
        {% if index < editions.items.length %}

        {% set items = (items.push(editions.items[index]), items) %}

        {% endif %}
        {%- endfor %}

        {% if items.length > 0 %}

        {{profileEditionList(editions, items, sliceCountFirstRow === 3)}}

        {% endif %}

        {% endif %}

        {%- endfor %}


        {# d-lg-flex d-none in profileEditionList macro #}
        {# Loop through next 4 elements #}
        {% if editions.items.length > 3 %}
        {% set sliceCountOtherRows = 4 %}

        {% for edition in editions.items %}
        {% set transformedIndex = loop.index0 - sliceCountFirstRow %}

        {% if transformedIndex >= 0 and ((transformedIndex % sliceCountOtherRows) === 0 or transformedIndex === 0)
        %}

        {% set items = [] %}

        {% for index in range(transformedIndex, transformedIndex + sliceCountOtherRows) -%}
        {% set rangeIndex = sliceCountFirstRow + index %}

        {% if rangeIndex < editions.items.length %}

        {% set items = (items.push(editions.items[rangeIndex]), items) %}

        {% endif %}
        {%- endfor %}

        {% if items.length > 0 %}

        {{profileEditionList(editions, items)}}

        {% endif %}

        {% endif %}

        {%- endfor %}
        {% endif %}


        <div class="col-12 p-0 d-lg-none d-flex flex-wrap">
            {% for edition in editions.items %}
            <div class="col-12">
                {{profileEditionListItemHeader(edition)}}
                {{profileEditionListItemContent(edition, editions, 'mobile', loop)}}
            </div>
            {%- endfor %}
        </div>
    </div>
</div>

<script>
    var globalBulletsContainer = $(".profile-edition__bullets-global-bullets");
    var globalBulletsList = $(
        ".profile-edition__bullets-global-bullets .profile-checklist-global-bullets"
    );
    var globalBulletsToggleList = $(".js-edition-bullets-toggle-global-bullets");

    var bulletsContainerDesktop = $(".profile-edition-content-container.desktop .profile-edition__bullets");
    var bulletsListDesktop = $(".profile-edition-content-container.desktop .profile-edition__bullets .profile-checklist");
    var bulletsToggleListDesktop = $(".profile-edition-content-container.desktop .js-edition-bullets-toggle");

    var bulletsContainerMobile = $(".profile-edition-content-container.mobile .profile-edition__bullets");
    var bulletsListMobile = $(".profile-edition-content-container.mobile .profile-edition__bullets .profile-checklist");
    var bulletsToggleListMobile = $(".profile-edition-content-container.mobile .js-edition-bullets-toggle");

    function checkEachItemHeight(container, list, toggleList) {
        $.each(container, function (index, value) {
            if (list[index].clientHeight > value.clientHeight) {
                $(toggleList[index]).addClass("show-more-toggle");
            }
        });
    }

    // each profile checklist item check desktop
    checkEachItemHeight(bulletsContainerDesktop, bulletsListDesktop, bulletsToggleListDesktop);

    // each profile checklist item check mobile
    checkEachItemHeight(bulletsContainerMobile, bulletsListMobile, bulletsToggleListMobile);

    // bullet list item check
    checkEachItemHeight(globalBulletsContainer, globalBulletsList, globalBulletsToggleList);

    function toggleBulletList(index, id) {
        var currentContainer;
        console.log(bulletsContainerDesktop);
        console.log(bulletsContainerMobile);
        if (typeof index !== "undefined") {
            currentContainer = id === 'desktop' ? $(bulletsContainerDesktop[index]) : $(bulletsContainerMobile[index]);
        } else {
            currentContainer = $(globalBulletsContainer);
        }

        currentContainer.toggleClass("open");
    }
</script>
{% endmacro %}
