{% extends "/layout/profile.html" %}

{% from "/macros/profile/profile-edition-list.html" import profileEditionList %}

{% macro editionsPricing(editions) %}
<div class="container profile-editions">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center heading heading--3 heading--center heading--leading">
                Editions & Pricing
            </h3>
        </div>
    </div>
    <div class="row">
        {% if editions.bullets.length %}
        <div class="col-12 col-lg-3">
            <div class="profile-edition__bullets-global-bullets">
                <h4 class="heading heading--4 heading--regular mt-0 mb-0">
                    {{editions.i18n.bulletsHeader}}
                </h4>
                <div class="profile-checklist-global-bullets">
                    {% for bullet in editions.bullets %}
                    <div class="d-flex align-items-start mt-3">
                        <div class="bullet-item-img">
                            <img src="{{r('/assets/images/check-red.png')}}"/>
                        </div>
                        <div class="bullet-item pl-2 d-flex">
                            {{ bullet.content | safe }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div
                    class="js-edition-bullets-toggle-global-bullets"
                    onclick="toggleBulletList()"
            >
                <a class="toggle-show">{{ editions.i18n.showMoreDetails }}</a>
                <a class="toggle-hide">{{ editions.i18n.hideMoreDetails }}</a>
            </div>
        </div>
        {% endif %}

        {# Loop through first 3 elements #}
        {% set sliceCountFirstRow = 3 %}
        {% for edition in editions.items %}

        {% if loop.index0 === 0 %}

        {% set items = [] %}

        {% for index in range(loop.index0, loop.index0 + sliceCountFirstRow) -%}
        {% if index < editions.items.length %}

        {% set items = (items.push(editions.items[index]), items) %}

        {% endif %}
        {%- endfor %}

        {% if items.length > 0 %}

        {{profileEditionList(editions, items, true)}}

        {% endif %}

        {% endif %}

        {%- endfor %}


        {# Loop through next 4 elements #}
        {% if editions.items.length > 3 %}
        {% set sliceCountOtherRows = 4 %}

        {% for edition in editions.items %}
        {% set transformedIndex = loop.index0 - sliceCountFirstRow %}

        {% if transformedIndex >= 0 and ((transformedIndex % sliceCountOtherRows) === 0 or transformedIndex === 0)
        %}

        {% set items = [] %}

        {% for index in range(transformedIndex, transformedIndex + sliceCountOtherRows) -%}
        {% set rangeIndex = sliceCountFirstRow + index %}

        {% if rangeIndex < editions.items.length %}

        {% set items = (items.push(editions.items[rangeIndex]), items) %}

        {% endif %}
        {%- endfor %}

        {% if items.length > 0 %}

        {{profileEditionList(editions, items)}}

        {% endif %}

        {% endif %}

        {%- endfor %}
        {% endif %}


    </div>
</div>

<script>
    var globalBulletsContainer = $(".profile-edition__bullets-global-bullets");
    var globalBulletsList = $(
        ".profile-edition__bullets-global-bullets .profile-checklist-global-bullets"
    );
    var globalBulletsToggleList = $(".js-edition-bullets-toggle-global-bullets");

    var bulletsContainer = $(".profile-edition__bullets");
    var bulletsList = $(".profile-edition__bullets .profile-checklist");
    var bulletsToggleList = $(".js-edition-bullets-toggle");

    // each profile checklist item check
    $.each(bulletsContainer, function (index, value) {
        if (bulletsList[index].clientHeight > value.clientHeight) {
            $(bulletsToggleList[index]).addClass("show-more-toggle");
        }
    });

    // bullet list item check
    $.each(globalBulletsContainer, function (index, value) {
        if (globalBulletsList[index].clientHeight > value.clientHeight) {
            $(globalBulletsToggleList[index]).addClass("show-more-toggle");
        }
    });

    function toggleBulletList(index) {
        var currentContainer;
        if (typeof index !== "undefined") {
            currentContainer = $(bulletsContainer[index]);
        } else {
            currentContainer = $(globalBulletsContainer);
        }

        currentContainer.toggleClass("open");
    }
</script>
{% endmacro %}
