{% from "/macros/listing/listing-items-grid.html" import listingItemsGrid %}
{% from "/macros/listing/listing-items-row.html" import listingItemsRow %}
{% from "/macros/simple-tooltip.html" import simpleTooltip %}

{% macro listingItems(listing, selectedFilters, showUtils = true) %}
<section class="container-box">
    <div class="grid-container table">
        {{ listingItemsGrid(listing, showUtils) }}
        {{ listingItemsRow(listing) }}
    </div>
    <div class="container_footer">
        <div class="container_footer--item count-container">
            <span class="subtitle js-nbResults">{{ listing.pagination.totalCount }} {{ listing.i18n.results }} </span>
        </div>
        {% if listing.pagination.totalCount >= 13 %}
        <div class="container_footer--item__last pager-container js-pager">
            <nav class="pagination">
                {% for item in listing.pagination.pagesList %}
                {% if(item.type == "previous") %}
                <a href="{{ item.url }}"
                   class="icon__angle_left paginationLink pagination--button pagination--button__prev {% if item.status === "
                   disabled" %}is-disabled{% endif %}"></a>
                {% endif %}
                {% if(item.type == "next") %}
                <a href="{{ item.url }}"
                   class="icon__angle_right pagination--button pagination--button__next  {% if item.status === "
                   disabled" %}is-disabled{% endif %}"></a>
                {% endif %}
                {% if(item.type == "ellipsis") %}
                <span class="pagination--ellipsis"></span>
                {% endif %}
                {% if(item.type == "page") %}
                <a href="{{ item.url }}"
                   class="pagination--button {% if item.status === 'selected' %}active{% endif %}">{{ item.nb }}</a>
                {% endif %}
                {% endfor %}
            </nav>
        </div>
        {% endif %}
    </div>
</section>
<script>
    $(".listing-description").dotdotdot({
        truncate: "node",
        after: ".more"
    });
    $(".tile__content--description").dotdotdot({
        truncate: "node"
    });
</script>
{% endmacro %}
