{% from "/macros/profile/profile-edition-list-item-header.html" import profileEditionListItemHeader %}
{% from "/macros/profile/profile-edition-list-item-content.html" import profileEditionListItemContent %}

{% macro profileEditionList(editions, items, break) %}
<div class="col-12 {% if break %} col-lg-9 {% endif %} d-lg-flex d-none flex-wrap ">
    <div class="col-12 d-flex">
        {% for edition in items %}
        <div class="col-12 {% if break %} col-lg-4 {% else %} col-lg-3 {% endif %} d-flex">
            {{profileEditionListItemHeader(edition)}}
        </div>
        {% endfor %}
    </div>
    <div class="col-12 d-flex">
        {% for edition in items %}
        <div class="col-12 {% if break %} col-lg-4 {% else %} col-lg-3 {% endif %} d-flex">
            {{profileEditionListItemContent(edition, editions, 'desktop', loop)}}
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}