$bullet-image-width: 14px;
$editionsHeaderBg: #E6E6E6;

.profile-editions {

  .profile-edition__bullets {
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.5s ease;

    &.open {
      max-height: 800px;
    }
  }

  .profile-edition__bullets-global-bullets {
    @extend .profile-edition__bullets;
    max-height: 500px;

    &.open {
      max-height: 1000px;
    }

    .bullet-item {
      font-size: 13px;
      line-height: 18px;
      font-family: VodafoneRegular;
      color: $color-grey;
      width: calc(100% - #{$bullet-image-width});
    }

    .bullet-item-img {
      width: $bullet-image-width;
    }
  }

  .js-edition-bullets-toggle, .js-edition-bullets-toggle-global-bullets {
    display: none;

    &.show-more-toggle {
      display: block;
    }
  }

  .profile-edition {
    &.profile-edition-header-container {
      background-color: $editionsHeaderBg;
      padding: 20px 30px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);


      &.profile-edition--primary {
        box-shadow: 0 0 11px 0 rgba(black, 0.43);
      }
    }

    &.profile-edition-content-container {
      background: $color-light-grey;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

      &.profile-edition--primary {
        box-shadow: 0 0 11px 0 rgba(black, 0.43);
      }
    }
  }

}