{% macro whyVodafone() %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="heading heading--3 heading--center heading--leading">
                Why Vodafone marketplace?
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg col-12 text-center pb-5 pb-lg-0 d-flex flex-column align-items-center">
            <img src="{{ r('/assets/images/business-hi.png') }}" alt="business" class="why-vodafone-image mb-3">

            <div class="body-text why-vodafone-text">
                We have you covered, make your on-boarding experience even easier with the help of our professional
                services
            </div>
        </div>
        <div class="col col-lg col-12 text-center pb-5 pb-lg-0 px-lg-3 d-flex flex-column align-items-center">
            <img src="{{ r('/assets/images/bill-hi.png') }}" alt="contract" class="why-vodafone-image mb-3">

            <div class="body-text why-vodafone-text">
                You can have one supplier and one contract for your mobile and fixed connectivity combined with Office
                365
            </div>
        </div>
        <div class="col col-lg col-12 text-center d-flex flex-column align-items-center">
            <img src="{{ r('/assets/images/parental-control-hi.png') }}" alt="security" class="why-vodafone-image mb-3">

            <div class="body-text why-vodafone-text">
                We think about security in everything we do. Every service we offer is secure, and with us, you can be
                confidently connected to the world
            </div>
        </div>
    </div>
</div>
{% endmacro %}
