{% macro whyVodafone() %}

<div class="container">
    <h3 class="heading heading--3 heading--center heading--leading">
        Why Vodafone marketplace?
    </h3>
    <div class="row justify-content-center">
        <div class="col col-md col-sm-6 col-12 text-center why-vodafone-item pb-5 p-md-0">
            <img src="{{ r('/assets/images/business-hi.png') }}" alt="" class="why-vodafone-image mb-3">

            <div class="body-text">
                We have you covered, make your on-boarding experience even easier with the help of our professional services
            </div>
        </div>
        <div class="col col-md col-sm-6 col-12 text-center why-vodafone-item pb-5 p-md-0 mx-md-5">
            <img src="{{ r('/assets/images/bill-hi.png') }}" alt="" class="why-vodafone-image mb-3">

            <div class="body-text">
                You can have one supplier and one contract for your mobile and fixed connectivity combined with Office 365
            </div>
        </div>
        <div class="col col-md col-sm-6 col-12 text-center why-vodafone-item">
            <img src="{{ r('/assets/images/parental-control-hi.png') }}" alt="" class="why-vodafone-image mb-3">

            <div class="body-text">
                We think about security in everything we do. Every service we offer is secure, and with us, you can be confidently connected to the world
            </div>
        </div>
    </div>
</div>
{% endmacro %}
