{% macro whyVodafone() %}

<div class="why-vodafone">
    <div class="background  background--cover   ">
        <div class="background__image lazyloaded" data-bgset="
                                    https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png [(max-width: 640px)] |
                            https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png [(max-width: 950px)] |
                        https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png" style="background-image: url(&quot;https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png&quot;);">
            <picture style="display: none;"><source data-srcset="https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png" media="(max-width: 640px)" srcset="https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png"><source data-srcset="https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png" media="(max-width: 950px)" srcset="https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png"><source data-srcset="https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png" srcset=https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png"><img alt="" class=" lazyloaded"></picture></div>
        <noscript>
            <div class="background__image" style="background-image: url(https://www.vodafone.com/business/statics/images/images-responsive/why-vodafone-red.png)"></div>
        </noscript>
    </div>
    <div class="why-vodafone__content">
        <h2 class="heading heading--3 heading--leading">Why vodafone?</h2>
        <ul class="grid grid--gutter">
            <li class="grid__item grid__item--gutter grid__item--sm-1/1 grid__item--1/3">
                <!--<svg focusable="false" aria-hidden="true" class="icon  icon&#45;&#45;large  ">-->
                    <!--<use xlink:href="#icon-dashboard"></use>-->
                <!--</svg>-->
                <span class="why-vodafone__caption">We have you covered, make your on-boarding experience even easier with the help of our professional services</span>
            </li>
            <li class="grid__item grid__item--gutter grid__item--sm-1/1 grid__item--1/3">
                <!--<svg focusable="false" aria-hidden="true" class="icon  icon&#45;&#45;large  ">-->
                    <!--<use xlink:href="#icon-tv"></use>-->
                <!--</svg>-->
                <span class="why-vodafone__caption">You can have one supplier and one contract for your mobile and fixed connectivity combined with Office 365</span>
            </li>
            <li class="grid__item grid__item--gutter grid__item--sm-1/1 grid__item--1/3">
                <!--<svg focusable="false" aria-hidden="true" class="icon  icon&#45;&#45;large  ">-->
                    <!--<use xlink:href="#icon-network"></use>-->
                <!--</svg>-->
                <span class="why-vodafone__caption">We think about security in everything we do. Every service we offer is secure, and with us, you can be confidently connected to the world </span>
            </li>
        </ul>
    </div>
</div>
{% endmacro %}
