{% extends "/layout/base.html" %}
{% from "/macros/listing/listing-navigator.html" import listingNavigator %}
{% from "/macros/listing/listing-items.html" import listingItems %}

{% block content %}
<div class="container listing listing-page mt-3" data-sort='{{ listing.query.order }}'>
    <div class="mb-3">
        {{ listingNavigator(listingFilters, listingProducts, config.listingEndpoint) }}
    </div>

    {{ listingItems(listingProducts, listingFilters.selectedFilters) }}
    <div class="listing-overlay is-hidden"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
  var view = sessionStorage.getItem('listingView');
  if (view === 'grid') {
    document.querySelector('.listing-page').classList.add('listing-grid-list');
  } else {
    document.querySelector('.listing-page').classList.add('listing-show-list');
  }

  $('.listing-page').listing({});
</script>
{% endblock %}
