{% extends "/layout/base.html" %}
{% from "/macros/listing/listing-navigator.html" import listingNavigator %}
{% from "/macros/listing/listing-items.html" import listingItems %}
{% from "/macros/breadcrumb/breadcrumb.html" import breadcrumb %}


{% block data %}
<data name="recommendedSolutions" type="list" categories="42153"/>
<data name="carousel" type="list" categories="42155"/>
<data name="popularApps" type="list" categories="42152"/>
<data name="iotSolutions" type="list" categories="40682"/>
<data name="office365" type="list" categories="39393"/>
{% endblock %}

{% block content %}

{% from "/includes/list-links.html" import listLinks with context %}

{% set pageTitle = 'All Categories' %}
{% if listingFilters.selectedFilters and listingFilters.selectedFilters[0] and listingFilters.selectedFilters[0].text %}
{% set pageTitle = listingFilters.selectedFilters[0].text %}
{% endif %}

{{breadcrumb([{label: 'Home', link: '/'}, {label: pageTitle}])}}
<div class="container listing listing-page mt-3" data-sort='{{ listing.query.order }}'>
    <div class="mb-3">
        {{ listingNavigator(listingFilters, listingProducts, config.listingEndpoint, listLinks) }}
    </div>

    <script>
        function setViewClass(view) {
            if (view === "grid") {
                document.querySelector(".listing-page").classList.add("listing-grid-list");
                document.querySelector(".listing-page").classList.remove("listing-show-list");
                document.querySelector(".grid-view-button").classList.add("active");
                document.querySelector(".list-view-button").classList.remove("active");
            } else {
                document.querySelector(".listing-page").classList.add("listing-show-list");
                document.querySelector(".listing-page").classList.remove("listing-grid-list");
                document.querySelector(".list-view-button").classList.add("active");
                document.querySelector(".grid-view-button").classList.remove("active");
            }
        }

        function setView(type) {
            sessionStorage.setItem("listingView", type);
            setViewClass(type);
        }

        var view = sessionStorage.getItem("listingView");

        setViewClass(view);
    </script>

    <div class="col-12 listing-items">
        <div class="content">
            {{ listingItems(listingProducts, listingFilters.selectedFilters) }}
        </div>
    </div>
    <div class="listing-overlay is-hidden"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.listing-page').listing({});
</script>
{% endblock %}
