{% macro carousel(products=[]) %}
<div class="container">
    <div id="slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for product in products.items %}
            <li class="carousel-indicator-item" data-target="#slider" data-slide-to="{{loop.index-1}}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for product in products.items %}
            <div class="carousel-item">
                <div class="row d-flex flex-wrap flex-column-reverse flex-lg-row mb-5">
                    <div class="col-lg-6 col-12">
                        <div class="carousel-item-title" title="{{product.name}}">{{product.name}}</div>
                        <div class="carousel-item-overview" title="{{product.overview}}">{{product.overview}}</div>
                        <div class="carousel-item-description" title="{{product.description}}">{{product.description}}
                        </div>

                        <a href="{{product.url}}" role="button">Go to product</a>
                    </div>
                    <div class="col-lg-6 col-12 mb-2 mb-lg-0">
                        <img aria-label="{{product.name}}" class="id--sliderimg" alt=""
                             src="{{ product.overviewImageUrl }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" onclick="prev()">
            <div class="carousel-control-icon-container">
                <svg focusable="false" aria-hidden="true"
                     class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
                    <use xlink:href="#icon-chevron-left"/>
                </svg>
            </div>
        </button>
        <button class="carousel-control-next" onclick="next()">
            <div class="carousel-control-icon-container">
                <svg focusable="false" aria-hidden="true"
                     class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
                    <use xlink:href="#icon-chevron-right"/>
                </svg>
            </div>

        </button>
    </div>
</div>
<script>
    const carousel = $('.carousel');
    $('.carousel-item').first().addClass('active');
    $('.carousel-indicator-item').first().addClass('active');

    function next() {
        carousel.carousel('next');
    }

    function prev() {
        carousel.carousel('prev');
    }

</script>
{% endmacro %}