<header id="">
    <div class="ad-uniheader">
        <div class="layout-default adb-layout-default">
            <div class="ad-uniheader__container">
                <h2>LOGGED OUT HEADER</h2>
                <h3>CATS</h3>
                {% for category in nav.primary.categories %}
                <a class="dropdown-item" href="{{config.listingEndpoint + '?cat=' + category.id}}">{{
                    category.name }}</a>
                {% for subCategory in category.subCategories %}
                <a class="dropdown-item" href="{{config.listingEndpoint + '?scat=' + subCategory.id}}">
                                <span class="ml-3">
                                {{ subCategory.name }}
                                </span>
                </a>
                {% endfor %}
                {% endfor %}
                <nav aria-label="Marketplace Menu" class="ad-uniheader__container--section">
                    <h2 id="marketplace-menu-label" class="not-visible">Marketplace Menu</h2>
                    <ul class="ad-uniheader__container--section-left">
                        {{MPLOGO-COMPONENT}}
                        {{MYAPPS-DROPDOWN-COMPONENT}}
                        {{ICON-HOME-COMPONENT}}
                        {{ICON-APPWISE-COMPONENT}}
                        {{ICON-APPINSIGHT-COMPONENT}}
                        {{ICON-MARKETPLACE-COMPONENT}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>